{{ 'custom-grid.css' | asset_url | stylesheet_tag }}
<section class="image-grid">
    <div class="page-width">
        <div class="col-60 mt-3 mb-3">
            <div class="grid-title-container text-center">
                {% if section.settings.title != blank %}
                <h2 class="title">{{section.settings.title}}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                <p>{{section.settings.text}}</p>
                {% endif %}
            </div>
        </div>
        <div class="row r-gap-7">
            <div class="col-md-30 col-60">
                <div class="single-img">
                    {% if section.settings.image_1 != blank %}
                    <a href="{{section.settings.image_1_link}}">
                        <img class="w-100" src="{{ section.settings.image_1 | img_url: '1000x' }}" alt="{{section.settings.image_1.alt}}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-30 col-60">
                <div class="double-img">
                    {% if section.settings.image_2 != blank %}
                    <a href="{{section.settings.image_2_link}}">
                        <img class="w-100" src="{{ section.settings.image_2 | img_url: '800x' }}" alt="{{section.settings.image_2.alt}}">
                    </a>
                    {% endif %}
                    {% if section.settings.image_3 != blank %}
                    <a href="{{section.settings.image_3_link}}">
                        <img class="w-100" src="{{ section.settings.image_3 | img_url: '800x' }}" alt="{{section.settings.image_3.alt}}">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
    {
        "name": "Custom Image Grid",
        "class": "image-section",
        "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },  
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "image_1_link",
            "label": "Add Image-1 Url"
        },
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Add Image 1"
        },
        {
            "type": "url",
            "id": "image_2_link",
            "label": "Add Image-2 Url"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Add Image 2"
        },
        {
            "type": "url",
            "id": "image_3_link",
            "label": "Add Image-3 Url"
        },
        {
            "type": "image_picker",
            "id": "image_3",
            "label": "Add Image 3"
        }
    ],
        "presets": [
        {
            "name": "Custom Image Grid",
            "category": "Image"
        }
    ] 
}
{% endschema %}